.classpath
.externalToolBuilders/
.idea
.project
.settings
redeploy.sh
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib
src/main/resources/log4j2-test.xml
target
*.iml
*out
/target/
/bin/
boot.sh
gc.*.log
.DS_Store
.swp
